#showcase {
  background-image: url('../img/pattern.afd33a3d.svg');

  .details {
    h1 {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px;
    }
  }

  .showcase_code {
    .mantine-65gzgh {
      border-bottom: none;
    }
  }
}
